<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video to Audio Convertersss</title>
</head>
<body>
    <h1>Video to Audio Converter</h1>
    <br />
    <form id="videoForm" action="#" method="post" enctype="multipart/form-data">
        <label for="videoFile">Choose a video file</label>
        <br />
        <input type="file" id="videoFile" name="videoFile" accept="video/*">
        <button type="button" onclick="uploadVideo()">Upload</button>
    </form>
    <form action="{% url 'convert_to_mp3' %}" method="post">
        {% csrf_token %}
        <button type="submit">Convert to MP3</button>
    </form>
    <video id="videoPlayer" width="640" height="360" controls>
        Your browser does not support the video tag.
    </video>
    <a id="downloadLink" style="display: none;"></a>

    <h1>Transcript Generation</h1>
    <form action="{% url 'execute_script' %}" method="post">
        {% csrf_token %}
        <button type="submit">Execute Script</button>
    </form>

    <!-- Display transcripts -->
    <div>
        {% for transcript in transcripts %}
        <p>{{ transcript }}</p>
        {% endfor %}
    </div>

    <button id="download-srt">Download SRT</button>

    <!-- Optional: Display the generated preview -->
    <video id="previewVideo" controls style="display: none;"></video>

    <script>
        document.getElementById("generatePreviewButton").addEventListener("click", function () {
            fetch('/generate_preview')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Preview generation failed');
                    }
                    return response.blob();
                })
                .then(blob => {
                    // Create object URL for the blob
                    const blobUrl = URL.createObjectURL(blob);
                    // Display the generated preview
                    const previewVideo = document.getElementById("previewVideo");
                    previewVideo.src = blobUrl;
                    previewVideo.style.display = "block";
                })
                .catch(error => {
                    console.error('Error:', error.message);
                });
        });
    </script>

    <a href="{% url 'translate' %}"><button>Go to Translate Page</button></a>

    <!-- Include JavaScript files -->
    <script src="{% static 'script.js' %}"></script>
    <script src="{% static 'srt.js' %}"></script>
</body>
</html>