<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Visual Scripter</title>
</head>

<body>

<h1>Transcript Generation</h1>

<video id="videoPlayer" controls>
    <source src="{% url 'play-video' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
  <a id="downloadLink" style="display: none;"></a>
  
  <form id="executeScriptForm" action="/execute_script/" method="post">
      {% csrf_token %}
      <button type="button" id="executeScriptButton">Transcribe!!</button>
      <button id="srt">Download SRT</button>
  </form>

  <textarea id="outputTextField" rows="10" cols="50" readonly></textarea>

  <!-- Display transcripts -->
  <div>
      {% for transcript in transcripts %}
      <p>{{ transcript }}</p>
      {% endfor %}
  </div>

<!-- Optional: Display the generated preview -->
<!-- <video id="previewVideo" controls style="display: none;"></video>

<script>
    document.getElementById("generatePreviewButton").addEventListener("click", function () {
        fetch('/generate_preview')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Preview generation failed');
                }
                return response.blob();
            })
            .then(blob => {
                // Create object URL for the blob
                const blobUrl = URL.createObjectURL(blob);
                // Display the generated preview
                const previewVideo = document.getElementById("previewVideo");
                previewVideo.src = blobUrl;
                previewVideo.style.display = "block";
            })
            .catch(error => {
                console.error('Error:', error.message);
            });
    });
</script> -->

<!-- <a href="{% url 'translate' %}"><button>Go to Translate Page</button></a> -->

<!-- Include JavaScript files -->
</body>
<script src="{% static 'script.js' %}"></script>
<script src="{% static 'srt.js' %}"></script>

</html>
