/* Style for the video player */
#videoPlayer {
    width: 80%;
    /* max-width: 800px; Adjust the maximum width as needed */
    height: 90vh;
    margin-left: 10%; /* Center the video player horizontally with some margin */
}

/* Style for the buttons */
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* Add margin between buttons */
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #2980b9; /* Darker color on hover */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    button {
        width: 100%; /* Make buttons full-width on smaller screens */
    }
}

/* Additional styling for the transcript section */
#transcripts {
    margin-top: 20px; /* Add some space above the transcript section */
}

#transcripts p {
    font-size: 16px; /* Adjust font size for transcript text */
}

/* Optional: Style for the "Download SRT" button */
#download-srt {
    margin-top: 20px; /* Add some space above the button */
}